<div class="card border-dark mb-3">

    <div class="card-header">
        <h1>{{ content.title }}</h1>
    </div>
    <div class="card-body">
        {{#if content.due_date}}
            <h3>Due: {{ content.due_date }}</h3>
            <br/>
        {{/if}}


        <div class="btn-group">
            {{#each content.sections}}
                <a href="#section{{@index}}" class="btn btn-outline-dark" role="button">{{ this.title }}</a>
            {{/each}}
        </div>
    </div>
    <div id="section0"></div>
</div>


{{#each content.sections}}
    <div id="section{{@index}}"></div>
    <div class="card border-dark mb-3">
        <!--<div class="card-header">{{ this.title }}</div>-->
        <div class="card-body">
            <h3 class="card-title">{{ this.title }}</h3>
            <p class="card-text">{{{this.content}}}</p>
        </div>
    </div>
{{/each}}