<html>
<head>
    <title>{{#if course}}{{course.number_upper}}: {{course.title}}{{else}}CSE{{/if}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/UBStylin.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/vs.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script src="/static/functions.js"></script>
    {{#if course}}
        <script>
                var course="{{course.course}}";
        </script>
    {{/if}}
</head>


<body class="outer" onload="after_load()">


<div class="container-fluid">
{{> navbar}}




    <div class="row">
        <div id="left_sidebar" class="hidden-xs col-sm-2 less-padding">
            {{> left_sidebar}}
        </div>


        <div id="center_content" class="col-xs-12 col-sm-10 less-padding">
            <div class="content-area">
                {{{body}}}
            </div>
        </div>

        <!--<div id="right-sidebar" class="hidden-xs col-sm-2 less-padding">-->
            <!--<div class="content-area">-->
                {{!> chat}}
            <!--</div>-->
        <!--</div>-->

    </div>
</div>

</body>
</html>