<div class="card border-dark mb-3">

    <div class="card-header">
        <h1>Lab</h1>
    </div>

</div>

{{#unless user}}
    <div class="card border-dark mb-3">
        <div class="card-body">
            <h4>You must be logged in to use this feature. If you are taking this class you should create an account and
                log in.
            </h4>
        </div>
    </div>
{{else}}



    <div class="card border-dark mb-3">
        <div class="card-body">
            <h5>Lab {{lab.lab_number}}: {{lab.title}}</h5>
            <p>
                {{lab.instruction_text}}
            </p>
        </div>
    </div>


    <div class="card border-dark mb-3">
        <div class="card-header">
            <h5>Question</h5>
        </div>
        <div class="card-body">
            <p>
                {{part.instruction_text}}
            </p>

            <p>
                {{question.question_text}}
            </p>

            {{#unless lab_attempt.all_parts_complete}}
                <form action="/courses/{{course.course}}/active-lab/{{lab.lab_number}}" method="post">
                    <div class="form-group">
                        <input type="text" id="student_answer" name="student_answer" autofocus>
                        <br/><br/>
                        <input type="submit" value="submit">
                    </div>
                </form>
            {{/unless}}
        </div>
    </div>


    <div class="card border-dark mb-3">
        <div class="card-header">
            <h5>AutoLab Instructions</h5>
        </div>
        <div class="card-body">

            <p>
                {{lab.autolab_instructions}}
            </p>

        </div>
    </div>





{{/unless}}