{{#unless user}}
    <div class="well lecture-section-well">
        <h4>You must be logged in to use this feature. If you are taking this class you should create an account and log
            in.
        </h4>
    </div>
{{else}}


    <!-- Priority 1! -->
    <!-- Get new PS (Warn them that it will replace an un-submitted PS if they have one out) -->
    <!-- AutoLab link for submissions -->
    <!-- Log EVERYTHING! -->


    <div class="well lecture-section-well">

        {{#if current_problem_set_number}}
            <p>Current Problem Set: {{current_problem_set_number}}</p>
        {{/if}}

        <a href="/courses/{{course.course}}/ps-download" class="btn btn-primary">Download Problem Set</a>
<br/><br/>
        <p>
            Submit here, then come back for a new problem set: <a href="https://autograder.cse.buffalo.edu/courses/CSE115-s18/assessments/problemsets"
                                                                  target="_blank">Autolab</a>
        </p>
        <!--<a href="/courses/{{course.course}}/ps-download-new" class="btn btn-primary">Download new PS</a>-->
        <!--<p><strong>*Warning: This will replace your current problem set</strong></p>-->

        <!--<br/><br/>-->

        <!--<a href="/courses/{{course.course}}/ps-download-current" class="btn btn-primary">Download current PS</a>-->
        <!--<p>Use this if you lost your current problem set and need to re-download</p>-->

    </div>


    <!-- Priority 2 -->
    <!-- Progress towards next goal -->
    <!-- Feedback on most recent PS -->

    <!-- Priority 3 -->
    <!-- Re-download current PS is it's checked out and not submitted -->
    <!-- Feedback for all previous PSs -->
    <!-- Remind them of office hours after poor performance -->



    {{!#if feedback}}

    <div class="well lecture-section-well">

        <h3>Feedback</h3><br/>

        <p>
            Your performance is: Adequate
        </p>
    </div>

{{!/if}}





{{/unless}}